{% extends 'base.html' %}
{% block content %}
<h3 class="is-size-3">Please Login to continue</h3>
<form class="mt-4" method="POST">
  <div class="field">
    <label class="label">Name</label>
    <div class="control">
      <input
        class="input"
        type="text"
        id="userId"
        name="userId"
        placeholder="e.g s3134353"
      >
    </div>
  </div>

  <div class="field">
    <label class="label">Password</label>
    <div class="control">
      <input class="input" type="password" id="password" name="password" />
    </div>
  </div>

  <div class="field">
    <p class="control">
    <button class="button is-success">Login</button>
    </p>
  </div>
</form>
{% endblock %}
