{% extends 'base.html' %}
{% block content %}
<form method="POST" enctype="multipart/form-data">
  <div class="field">
    <label class="label">Enter a user ID</label>
    <div class="control">
      <input
        class="input"
        type="text"
        id="userId"
        name="userId"
        placeholder="e.g s3134353"
      >
    </div>
  </div>

  <div class="field">
    <label class="label">Enter username</label>
    <div class="control">
      <input
        class="input"
        type="text"
        id="username"
        name="username"
      >
    </div>
  </div>

  <div class="field">
    <label class="label">Enter a password</label>
    <div class="control">
      <input class="input" type="password" id="password1" name="password1" />
    </div>
  </div>

  <div class="field">
    <label class="label">Confirm your password</label>
    <div class="control">
      <input
        class="input"
        type="password"
        id="password2"
        name="password2"
      />
    </div>
  </div>

  <div id="file-upload" class="file is-info has-name mb-4">
    <label class="file-label">
      <input class="file-input" type="file" name="image">
      <span class="file-cta">
        <!-- <span class="file-icon">
          <i class="fas fa-upload"></i>
        </span> -->
        <span class="file-label">
          upload image
        </span>
      </span>
      <span class="file-name">
        No image uploaded
      </span>
    </label>
  </div>

  <div class="field">
    <p class="control">
    <button class="button is-success">
      Create Account
    </button>
    </p>
  </div>
</form>
{% endblock %}
